<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="" href="">
<information>
  <title>$TITLE</title>
  <vendor>$VENDOR</vendor>
  <offline-allowed/>
</information>
<resources>
  <jar href="$JAR" main="true" />
</resources>
<security>
  <all-permissions/>
</security>
<applet-desc name="$NAME" main-class="$MAIN_CLASS" width="$WIDTH" height="$HEIGHT">
</applet-desc>
</jnlp>
